body{
    background-color: #00b1fc;
}
.parant{
   background-color: rgb(143, 20, 237);
   color: white;
   margin: auto;
   width: 70%;
   height: auto;
   padding-bottom: 10px;
   box-shadow: 5px 15px 50px  #083ce8;
};
.btn-1{
    width: 80px;
    background-color: darkolivegreen;
    color: wheat;
    border: 1px solid;
    border-top-color: red;
    border-bottom: red;
    border-left-color: white;
    border-right-color: white;
    padding: 4px;
    border-radius: 6px;
}
.btn-2{
    width: 80px;
    background-color: darkolivegreen;
    color: wheat;
    border: 1px solid;
    border-top-color: red;
    border-bottom: red;
    border-left-color: white;
    border-right-color: white;
    padding: 4px;
    border-radius: 6px;
}
.editgap{
    margin: 10px;
}
.delgap{
    margin-left: 10px;
}
.list{
    font-size: 20px;
    border-bottom: 3px solid white;
    border-top: 3px dashed white;
    border-left: 3px dotted white;
    border-right: 3px dotted white;
    margin: 5px;
}